{{!< default}}

{{#contentFor 'pageStyles'}}
{{/contentFor}}

<h1>{{title}} </h1>
<a href="/settings">Settings</a>
<br/>

<div class="row">
	<div class="col-xs-5">
    <select name="from[]" id="multiselect" class="form-control" size="25" multiple="multiple">
      {{#each movies}}
        <ul>
          <option value="{{inode}}">{{title}} -- {{humanSize}}</li>
        </ul>
      {{/each}}
    </select>
  </div>
  <div class="col-xs-2">
		<button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
		<button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
		<button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
		<button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
		<button type="button" id="multiselect_submit" class="btn btn-block btn-info">Set Queue</button>
    <div class="admin">
		<button type="button" id="multiselect_clear" class="btn btn-block btn-danger">Clear Queue</button>
		<button type="button" id="multiselect_clear_drive" class="btn btn-block btn-danger">Clear Drive Cache</button>
		<button type="button" id="multiselect_umount" class="btn btn-block btn-danger">Unmount Drive</button>
		<button type="button" id="multiselect_mount" class="btn btn-block btn-danger">Mount Drive</button>
		<button type="button" id="multiselect_hash" class="btn btn-block btn-danger">Recalculate Base Encryption Hash</button>
		<button type="button" id="multiselect_drive_scan" class="btn btn-block btn-danger">Force Drive Scan</button>
		<button type="button" id="multiselect_drive_transfer" class="btn btn-block btn-danger">Force Transfer</button>
    </div>
	</div>
	
	<div class="col-xs-5">
		<select name="to[]" id="multiselect_to" class="form-control" size="25" multiple="multiple"></select>
	</div>

</div>
<div class="row">
	<div class="col-xs-12">
    <div class="processBox">
    <ul>
      {{#each queue}}
        <ul>
          <li>{{title}} - {{humanSize}}</li>
        </ul>
      {{/each}}
    </ul>
    {{queueSize}}
    </div>
  </div>
</div>
<div class="row">
	<div class="col-xs-12">
    <div class="processBox">
    <h3>Drive Contents</h3>
    <ul>
      {{#each externalMovies}}
        <ul>
          <li>{{title}} - {{humanSize}}</li>
        </ul>
      {{/each}}
    </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#multiselect').multiselect();
      $('#multiselect_submit').on('click', function() {
        //$('.btn').prop('disabled', true);

        var data = {'media': $("#multiselect_to option").map(function(){ return this.value }).get()};
        if (data.media.length) {
          $.ajax({
            type: "POST",
            url: "/api/request",
            data: data,
            success: success,
            dataType: 'json'
          });
        }
      });
      $('#multiselect_clear').on('click', function() {
        $.get('/api/request/clear');
      });
      $('#multiselect_clear_drive').on('click', function() {
        $.get('/api/drive/clear');
      });
      $('#multiselect_umount').on('click', function() {
        $.get('/api/drive/umount');
      });
      $('#multiselect_mount').on('click', function() {
        $.get('/api/drive/mount');
      });
      $('#multiselect_hash').on('click', function() {
        $.get('/movies/clear');
      });
      $('#multiselect_drive_scan').on('click', function() {
        $.get('/api/drive/scan');
      });
      $('#multiselect_drive_transfer').on('click', function() {
        $.get('/api/drive/transfer');
      });
    });
    function success() {
    };
</script>
